<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Post</h1>
    <ul>
      {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.title }}</p>
        {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}" alt="" />
        {% endif %}
        <ul>
          {% for comment in post.comment_set.all %}
          <li>{{ comment.content }}</li>
          {% empty %}
          <li>아직 댓글이 없습니다.</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
