<article id="post-{{ post.id }}" class="post">
  <header class="post-header">
    {% if post.user.profile_image %}
    <img src="{{ post.user.profile_image.url }}" />
    {% endif %}
    <span>{{ post.user.username }}</span>
  </header>

  <!-- 이미지 슬라이드 영역 시작 -->
  <div class="post-images splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for image in post.postimage_set.all %} {% if image.photo %}
        <li class="splide__slide">
          <img src="{{ image.photo.url }}" />
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
  <!-- 이미지 슬라이드 영역 종료 -->

  <div class="post-content">
    {{ post.content|linebreaksbr }}
    <div class="post-tags">
      {% for tag in post.tags.all %}
      <a href="{% url 'posts:tags' tag_name=tag.name %}">#{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="post-buttons">
    <form
      action="{% url 'posts:post_like' post_id=post.id %}?next={{ action_redirect_url }}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit" {% if user in post.like_users.all %} style="color: red" {% endif %}>
        Likes({{ post.like_users.count }})
      </button>
    </form>
    <span>Comments({{ post.comment_set.count }})</span>
  </div>

  <div class="post-comments">
    <ul>
      <!-- 각 Post에 연결된 PostComment들을 순회 -->
      {% for comment in post.comment_set.all %}
      <li>
        <span>{{ comment.user.username }}</span>
        <span>{{ comment.content }}</span>

        {% if user == comment.user %}
        <form
          method="post"
          action="{% url 'posts:comment_delete' comment_id=comment.id %}?next={{ action_redirect_url }}"
        >
          {% csrf_token %}
          <button type="submit">삭제</button>
        </form>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <small>{{ post.created }}</small>
  <div class="post-comment-create">
    <form method="POST" action="{% url 'posts:comment_add' %}">
      {% csrf_token %}
      <input type="hidden" name="post" value="{{ post.id }}" />
      {{ comment_form.content }}
      <button type="submit">게시</button>
    </form>
  </div>
</article>
